.row {
    padding:10px
}
.button {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #4F26F7;
    color: white;
    font-size: 15px;
}
.buttons{
    margin: 5px;
}
.dashboard {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}