.input {
    margin:10px 0px;
}
input:invalid {
    border-color: red;
    box-shadow: red;
    animation: shake 300ms;
}
@keyframes shake {
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
}